laravel/node_modules
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/vendor
/.idea/
laravel/.vagrant
laravel/Homestead.json
laravel/Homestead.yaml
laravel/npm-debug.log
yarn-error.log
.env
laravel/public/uploads/*
!laravel/public/uploads/thumbnails/default.png
.vscode/
database.sql
fruits_veg.zip
laravel/storage/app/public/
/access-logs/
/.autorespond/
/*.tar.gz
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/bin/
/cache/
/.cache/
/.cagefs/
/.cl.selector/
/.config/
/.contactemail
/.cpanel/
/cpbackup-exclude.conf
/.cphorde/
/etc/
/.htpasswds/
/.jbm/
/.lastlogin
/.local/
/logs/
/mail/
/merugreens/
/.mysql_history/
/.pearrc
/php/
/.pki/
/public_ftp/
/.razor/
/.spamassassin/
/.sqmailattach/
/.sqmaildata/
/.ssh/
/ssl/
/.subaccounts/
/tmp/
/.trash/
/www
/.zshrc
/.ftpquota
/.mysql_history
/access-logs
/public_html/uploads
error_log
.github
/public_html/storage